<table>
    <tbody>
        <tr>
        <%= form_with model: @book, local: true do |f| %>
            <td>タイトル</td>    
        </tr>
        <tr>
            <td><%= f.text_field :title %></td>
        </tr>
        <tr>
            <td>本文</td>
        </tr>
        <tr>
            <td> <%= f.text_area :body %></td>
        </tr>
        <tr>
            <td><%= f.submit '保存' %></td>
        <% end %>
        </tr>    
        <tr><!-- 削除ボタン -->
            <% if @book.user == current_user %>
                <td><%= link_to "削除", books_path, method: :delete %></td>
            <% end %>
        </tr>
    </tbody>
</table>