<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-2"></div>
      <div class= "col-md-8">
        <h5>プロフィール編集</h5>
        <%= flash[:notice] %>
        <%= form_with model: @user do |f| %>
          <label for="inputImage">写真を変更</label>
          <div><%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %></div> 
          <label for="inputName">ユーザーネーム</label>
          <div><%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"ユーザー名"%></div>
          <label for="inputIntroduction">自己紹介</label>
          <div><%= f.text_area :introduction, autofocus:true, id:"inputIntroduction", placeholder:"自己紹介"%></div>
          <%= f.submit "変更", class: "btn-sm btn-success" %>
        <% end %>
      </div>
    <div class="col-md-2"></div>
  </div>
</div>