<%= form_for(@contact, url: contacts_path) do |f| %>
  <div class="form-group">
    <%= f.label :name, '名前*' %>
    <%= f.text_field :name, autofocus: true, class: 'form-control', required: true %>
  </div>

   <div class="form-group">
    <%= f.label :email, 'メールアドレス*' %>
    <%= f.text_field :email, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= f.label :message, 'メッセージ*' %>
    <%= f.text_area :message, size: '10x10', class: 'form-control' %>
  </div>

  <div>
    <%= f.submit '入力内容確認' %>
  </div>
<% end %>
