<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <a class="navbar-brand">
      <%= link_to books_path, class: 'nav-link text-light' do %>
      ロゴ
      <% end %>
    </a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <!-- ユーザー側 -->
        <!-- ログイン済み -->
      <% if user_signed_in? %>
          <li class="nav-item">
            <li class="nav-item">
            <%= link_to books_path, class: 'nav-link text-light' do %><i class="fa-solid fa-book"></i>
              本棚
            <% end %>
            </li>
            <li>
              <li><%= link_to liked_posts_user_path(current_user), class: 'nav-link text-light' do %><i class="fa-solid fa-book-bookmark"></i>
              ブックマーク
              <% end %></li>
            </li>
            <li class="nav-item">
            <%= link_to user_path(current_user.id), class: 'nav-link text-light' do %><i class="fa-solid fa-user"></i>
              マイページ
            <% end %>
            </li>
            <%= link_to destroy_user_session_path, method: :delete,class: 'nav-link text-light' do %><i class="fa-solid fa-right-from-bracket"></i>
              ログアウト
            <% end %>
            </li>
        <!-- 管理者 -->
      <% elsif admin_signed_in? %>
        <li class="nav-item">
            <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-light' do %><i class="fa-solid fa-right-from-bracket"></i>
                ログアウト
            <% end %>
       <% else %>
           <!-- ログアウト後 -->
          <li class="nav-item">
            <%= link_to user_guest_sign_in_path, method: :post, class: 'nav-link text-light' do %><i class="fa-solid fa-eye"></i>
                ゲストログイン
            <% end %>

          </li>
          <li class="nav-item">
            <%= link_to new_user_registration_path, class: 'nav-link text-light' do %><i class="fa-solid fa-user-plus"></i>
              新規登録
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_user_session_path, class: 'nav-link text-light' do %><i class="fa-solid fa-right-to-bracket"></i>
              ログイン
            <% end %>
          </li>
       <% end %>
      </ul>
      <!-- 検索機能 -->
      <div>
        <%= render "user/searches/form" %>
      </div>
    </div>
  </nav>
</header>